<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyvolt.quiztime">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="features.askquestion.AskQuestionActivity"></activity>
        <activity android:name="libraries.android.uiprototyper.v2.samples.layata.ChatActivity" />
        <activity android:name="home.HomeActivity" />
        <activity android:name="mytrips.MyTripsActivity" />
        <activity android:name="activefamilies.ontheroad.OnTheRoadActivity" />
        <activity android:name="driver.coming.DriverComingActivity" />
        <activity android:name="drivertriplist.DriverFamilyActivity" />
        <activity android:name="pickuppassenger.PickablePassengerListActivity" />
        <activity android:name="pickinguppassenger.PickingPassengerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>